@import url('simple-grid.css');
@import url('typography.css');
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	background-color: #f3f3f3;
	font-family: Lato, Helvetica, sans-serif;
	color: #333447;
	line-height: 1;
	font-size: 1.125rem;
}
.card {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 20px;
	padding: 1.5rem 2rem 2rem;
	margin-bottom: 2rem;
	.card-title {
		margin-bottom: 1.5rem;
		color: #111;
		font-weight: 700;
	}
	.card-content {
		display: flex;
		flex-direction: column;
		font-size: .9rem;
	}
	.card-actions {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 1rem;
		font-size: .9rem;
		margin-bottom: -1rem;
	}
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
	&:hover {color: #0969da;}
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
